<!-- <!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head>  
    <title></title>  
    <script src="/Scripts/angular.min.js"></script>  
    <script src="/Scripts/EmpCrud.js"></script>
</head>  
<body ng-app="mainApp" data-ng-controller="CRUDController">  --> 
  
    <div>  
  
        <table class="table">  
            <tr ng-hide="true">  
                <td>EmpId: </td>  
                <td>  
                    <span>{{ EmpModel.Id }}</span></td>  
            </tr>  
            <tr>  
                <td>Employee Name:</td>  
                <td>  
                    <input type="text" data-ng-model="EmpModel.Name" /></td>  
            </tr>  
            <tr>  
                <td>Salary:</td>  
                <td>  
                    <input type="number" data-ng-model="EmpModel.Salary" /></td>  
            </tr>  
            <tr>  
                <td></td>  
                <td>  
                    <input type="button" value="Save Data" data-ng-click="AddData()"/></td>  
            </tr>  
        </table>  
    </div>  
  
    <div>
        <table class="table" border="1" style="width: 300px">  
            <thead>  
                <th>Id</th>  
                <th>Employee Name</th>  
                <th>Salary</th>  
            </thead>  
            <tr data-ng-repeat="Emp in EmpList">  
                <td>{{ Emp.Id }}</td>  
                <td>{{ Emp.Name }}</td>  
                <td>{{ Emp.Salary }}</td>  
                <td>  
                <input type="button" value="Edit" data-ng-click="EditData(Emp)" /></td>  
                <td><input type="button" value="Delete" data-ng-click="DeleteData(Emp)" /></td>  
            </tr>  
        </table>
    </div>  
<!-- </body>  
</html> -->  