
        <!-- <div>
            <h1>{{message}}</h1>    
        </div>
        <br /> <br />        
        <select class="custom-select custom-select-sm"  ng-model="employeeView">
            <option value="" selected>Open this to select view</option>
            <option value="/Templates/EmployeeTable.html">Table</option>
            <option value="/Templates/EmployeeList.html">List</option>
          </select>
        <br /><br />
        <div ng-include="employeeView">
        </div>
        <br /> <br />
        <div>
            <input type="text" ng-model="employee.firstName"  />
        </div>
        <br />

        <div>
            First Name : {{employee.firstName}} <br />
            Middle Name : {{employee.middleName}} <br />
            Last Name : {{employee.lastName}} <br />
            Gender : {{employee.gender}} <br />
            State : {{employee.state}} <br />
            Country : {{employee.country}} <br />
        </div>

        <br /> <br /> -->
<div style="padding: 5px 0px 5px 5px;">
    <span>Rows to display :</span> 
    <input type="number" step="1" ng-model="rowCount" max="5" min="0" />
</div>        
<div class="form-check">
    <input class="form-check-input" type="checkbox" ng-model="hideSalary" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
        Hide Salary
    </label>
  </div>
        <div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" ng-click="sortData('EmployeeName')">
                        Employee Name <div ng-class="getSortClass('EmployeeName')"></div>
                    </th>
                    <th scope="col" ng-click="sortData('gender')">
                        Gender <div ng-class="getSortClass('gender')"></div>
                    </th>
                    <th scope="col" ng-click="sortData('salary')" ng-hide="hideSalary">
                        Salary <div ng-class="getSortClass('salary')"></div>
                    </th>
                    <th scope="col">Technologies </th>
                    <th scope="col">Likes</th>
                    <th scope="col">Dislikes</th>
                </tr>
            </thead>
            <tbody ng-repeat="employee in employees | orderBy:sortColumn:reverseSort | limitTo:rowCount | filter:search">
                <tr >
                    <td> {{ employee.EmployeeName | uppercase }} </td>
                    <td> {{ employee.gender }} </td>
                    <td ng-hide="hideSalary"> {{ employee.salary | number }} </td>
                    <td> {{ employee.technologieName }} </td>
                    <td> {{ employee.likes }} </td>
                    <td> {{ employee.dislikes }} </td>
                    <td>
                        <input type="button" ng-click="incrementLikes(employee)" value="Like" />
                        <input type="button" ng-click="incrementDislikes(employee)" value="Dislike" />
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>
